@import url('https://fonts.googleapis.com/css2?family=Give+You+Glory&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body{
  overflow-x: hidden;
  justify-content: center;
    align-items: center;
}

body, .navbar{
  margin: 0;
  padding: 0;
  height: 130%;
  background-color: #191414;
}

.navbar-brand:hover{
  color: #F18557;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .column{
    width: 80%;
    padding: 0;
  }
  .row {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .row, .column{
    width: 100%;
  }
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.carousel-caption{
  font-family: 'Architects Daughter', cursive;
}

.column img{
  width: 40em;
  height: 40em;
}

.column p{
  position: relative;
  padding-top: 0.001em;
  color: #fff;
  font-family: 'Architects Daughter', cursive;
  font-size: 2.3em;
}

.navbar{
  position: relative;
  padding-top: 0em;
  background: linear-gradient(to right, #200122, #6f0000);
  font-family: 'Architects Daughter', cursive;
}

hr{
  width: 50em;
}

.hhh{
  color: #F18557;
  font-family: 'ZCOOL KuaiLe', cursive;
}

.topic{
  position: relative;
  padding-top: 2em;
  font-family: 'Give You Glory', cursive;
  color: bisque;
  font-size: 1em;
  /*transform: rotate(-40deg);*/


  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
 /* -webkit-transform: rotate(-40deg);*/

  /* Firefox */
  /*-moz-transform: rotate(-90deg);*/

  /* IE */
  /*-ms-transform: rotate(-90deg);*/

  /* Opera */
  /*-o-transform: rotate(-90deg);*/
}

.carousel-item img{
    height: 500px;
    width: 1280px;
}

.container {
  
  padding-left: 0em;
  padding-top: 0em;
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  width: 520px;
  height: 310px;
  background: black;
  margin: 20px;
  transition: transform .2s; 
}

.container:hover{
  transform: scale(1.08);
}

.container .imgBx {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background: #212121;
  transition: .3s linear;
}

.container .imgBx img {
  position: relative;
  width: 100%;
  height: 100%;
}

.container .details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
  font-family: 'Architects Daughter', cursive;
}

.container .details h2{
  margin: 0;
  padding: 0;
  font-size: 2.4em;
  line-height: 1em;
  color: rgb(207, 58, 150);
}

.container .details h2 span {
  font-size: 0.4em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(71, 124, 194);
}

.container .details p {
  max-width: 85%;
  margin-left: 15%;
  color: rgb(139, 199, 98);
  font-size: 15px;
  margin-bottom: 36px;
}

.container .details h3 {
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  color: #0084ff;
  float: left;
}
.container .details button {
  background: #000;
  color: #fff;
  border: none;
  outline: none;
  padding: 15px 20px;
  margin-top: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 40px;
  float: right;
}

.product-colors span {
  width: 26px;
  height: 26px;
  top: 7px;
  margin-right: 12px;
  left: 10px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.black {
  background: #000;
}

.red {
  background: #D5212E;
}

.orange {
  background: #F18557;
}

.product-colors .active:after{
  content: "";
  width: 36px;
  height: 36px;
  border: 2px solid #000;
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  left: -5px;
  top: -5px;
}

/* responsive */
@media (max-width: 1080px) {
  .container {
      height: auto;
  }
  .container .imgBx {
      padding: 40px;
      box-sizing: border-box;
      width: 100% !important;
      height: auto;
      text-align: center;
      overflow: hidden;
  }
  .container .imgBx img {
      left: initial;
  }
  .details {
      width: 100% !important;
      height: auto;
      padding: 20px;
  }
  .container .details p {
      margin-left: 0;
      max-width: 100%;
  }
}

footer {
  position: fixed;
  right: 16px;
  bottom: 12px;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(218, 68, 83), rgb(137, 33, 107));
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(rgb(137, 33, 107), rgb(218, 68, 83)); 
}



